.header{
    font-size: 50px;
    font-family: Verdana;
    font-weight: normal;
    color: white;
   
}
body{
    background-color: black;
    text-align: center;
}
.download{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
  
}

.h3{
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
h4{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
.copyright{
    color: gray;
    text-align: right;
}